In [1]:
 # Task 4.1: Employee Salary Analysis (5 marks)
 # Youhavebeengiven a dataset containing information on employee salaries. Using Pandas,
 # complete the following:
 # a) Load the dataset into a DataFrame.
 # b) Clean the data by removing any rows with missing values.
 # c) Groupthe data by department and calculate the average salary for each department.
 # d) Save the cleaned and grouped data to a new CSV file

In [1]:
# Loading the dataset into a DataFrame by dictionery.
import pandas as pd

data = {
    "name".upper(): [
        "John", "Robert", "David", "Jason", "Kevin", 
        "Jane", "", "Emily", "Olivia", "Sarah", 
        "Daniel", "Susan", "Jessica", "Michael", "Megan", 
        "Chris", "Mark", "Amanda", "Richard", "Karen"
    ],
    "Position".upper(): [
        "SE", "DE", "FD", "ITSL", "QA",       
        "DA", "DS", "", "CS", "DM",       
        "", "PM", "BA", "HRM", "HRS",      
        "UXD", "GD", "FM", "CFO", "FA"
    ],
    "Department".upper(): [
        "IT", "IT", "IT", "IT", "IT",        
        "Analytics", "Analytics", "", "Marketing", "Marketing", 
        "Product", "Product", "Business", "Human Resources", "Human Resources", 
        "Design", "Design", "Finance", "Finance", "Finance"
    ],
    "salary".upper(): [
        85000, 92000, 82000, 65000, 76000,     
        78000, 95000, 88000, 70000, 72000,     
        110000, 95000, 84000, 95000, 78000,     
        80000, 74000, 105000, 150000, 95000
    ]
}
# displaying by DataFrame 
x = pd.DataFrame(data)
print(x)

       NAME POSITION       DEPARTMENT  SALARY
0      John       SE               IT   85000
1    Robert       DE               IT   92000
2     David       FD               IT   82000
3     Jason     ITSL               IT   65000
4     Kevin       QA               IT   76000
5      Jane       DA        Analytics   78000
6                 DS        Analytics   95000
7     Emily                             88000
8    Olivia       CS        Marketing   70000
9     Sarah       DM        Marketing   72000
10   Daniel                   Product  110000
11    Susan       PM          Product   95000
12  Jessica       BA         Business   84000
13  Michael      HRM  Human Resources   95000
14    Megan      HRS  Human Resources   78000
15    Chris      UXD           Design   80000
16     Mark       GD           Design   74000
17   Amanda       FM          Finance  105000
18  Richard      CFO          Finance  150000
19    Karen       FA          Finance   95000

In [2]:
# converting it in to csv file 
x.to_csv("C:/Users/ezepayooner/OneDrive/salary's.csv", index=False)
# testing if it work
print("access")

access

In [3]:
# displaying the converted file 
x_read = pd.read_csv("C:/Users/ezepayooner/OneDrive/salary's.csv")
print(x_read)

       NAME POSITION       DEPARTMENT  SALARY
0      John       SE               IT   85000
1    Robert       DE               IT   92000
2     David       FD               IT   82000
3     Jason     ITSL               IT   65000
4     Kevin       QA               IT   76000
5      Jane       DA        Analytics   78000
6       NaN       DS        Analytics   95000
7     Emily      NaN              NaN   88000
8    Olivia       CS        Marketing   70000
9     Sarah       DM        Marketing   72000
10   Daniel      NaN          Product  110000
11    Susan       PM          Product   95000
12  Jessica       BA         Business   84000
13  Michael      HRM  Human Resources   95000
14    Megan      HRS  Human Resources   78000
15    Chris      UXD           Design   80000
16     Mark       GD           Design   74000
17   Amanda       FM          Finance  105000
18  Richard      CFO          Finance  150000
19    Karen       FA          Finance   95000

In [4]:
# Clean the data by removing any rows with missing values by using dropna method.
clean=x_read.dropna()
# save the cleaned data in to new csv file.
clean.to_csv("C:/Users/ezepayooner/OneDrive/salary's_cleaned_up.csv", index=False)
# displaying the cleand data 
clean_read = pd.read_csv("C:/Users/ezepayooner/OneDrive/salary's_cleaned_up.csv")
print(clean)

       NAME POSITION       DEPARTMENT  SALARY
0      John       SE               IT   85000
1    Robert       DE               IT   92000
2     David       FD               IT   82000
3     Jason     ITSL               IT   65000
4     Kevin       QA               IT   76000
5      Jane       DA        Analytics   78000
8    Olivia       CS        Marketing   70000
9     Sarah       DM        Marketing   72000
11    Susan       PM          Product   95000
12  Jessica       BA         Business   84000
13  Michael      HRM  Human Resources   95000
14    Megan      HRS  Human Resources   78000
15    Chris      UXD           Design   80000
16     Mark       GD           Design   74000
17   Amanda       FM          Finance  105000
18  Richard      CFO          Finance  150000
19    Karen       FA          Finance   95000

In [6]:
import pandas as pd

# Create DataFrame
average_salary_df = pd.DataFrame(clean)
# Group by 'DEPARTMENT' and calculate the average salary
average_salary_by_department = average_salary_df.groupby('DEPARTMENT')['SALARY'].mean().reset_index()
# Save the result to a CSV file
average_salary_by_department.to_csv("C:/Users/ezepayooner/OneDrive/average_salary_cleaned_up.csv", index=False)
# Read the CSV file
average = pd.read_csv("C:/Users/ezepayooner/OneDrive/average_salary_cleaned_up.csv")
# Print the result
print(average)

        DEPARTMENT         SALARY
0        Analytics   78000.000000
1         Business   84000.000000
2           Design   77000.000000
3          Finance  116666.666667
4  Human Resources   86500.000000
5               IT   80000.000000
6        Marketing   71000.000000
7          Product   95000.000000